<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Autism Research Centre</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/jquery-sakura.min.css">
    </head>
    <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div style="height:220px;" data-vide-bg="img/blossoms" data-vide-options="position: 0% 0%"></div>
      <div id="preloader">
          <div id="status">&nbsp;</div>
      </div>
      <div style="position: absolute;color: #fff;left: 20%;top: 50px;">
        <a href="/"><h1 style="font-size:84px;display:inline;color:#fff;">arc.moe</h1></a>
        <h3 style="display:inline;">//website wip</h3>
        <h3>>using weeb domains unironically</h3>

      </div>

    <div class="container" style="padding-top:20px;">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-8" style="min-height:710px">

          <a href="https://github.com/Fshy/FshyBot"><h3>2B | FshyBot</h3></a>
          <p>
            Discord bot built on discord.js featuring various Anime, NSFW, Music and API commands.<br>
            + Lots of Anime Tiddy<br>
            + Fast Music Lookup<br>
            + Nightly Test Builds<br>
            + Cute Avatar Guaranteed
          </p>
          <hr>
          <a><h3>IW4x Server Status</h3></a>
          <h4>
          <% if (mw2_server1!=null) { %>
            🔵 Server 1 - iSnipe</h4>
            <div class="panel panel-default">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Server</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server1.name)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">IP</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server1.query.address+':'+mw2_server1.query.port)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Gamemode</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server1.raw.g_gametype)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Map</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server1.map)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Players</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server1.players.length+'/'+mw2_server1.maxplayers)) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% }else{ %>
            🔴 Server 1 - iSnipe</h4>
            <div class="panel panel-default">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Offline</th>
                  </tr>
                </tbody>
              </table>
            </div>
          <% } %>

          <h4>
          <% if (mw2_server2!=null) { %>
            🔵 Server 2 - Normal</h4>
            <div class="panel panel-default">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Server</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server2.name)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">IP</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server2.query.address+':'+mw2_server2.query.port)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Gamemode</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server2.raw.g_gametype)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Map</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server2.map)) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Players</th>
                    <td><%= JSON.parse(JSON.stringify(mw2_server2.players.length+'/'+mw2_server2.maxplayers)) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% }else{ %>
            🔴 Server 2 - Normal</h4>
            <div class="panel panel-default">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Offline</th>
                  </tr>
                </tbody>
              </table>
            </div>
          <% } %>
        </div>

        <!-- <div class="col-md-4" id="dWidget">
          <iframe src="https://discordapp.com/widget?id=290982567564279809&theme=dark" width="350" height="600px" allowtransparency="true" frameborder="0"></iframe>
       </div> -->

       <div class="col-md-4" id="middleImg">
         <!-- <img class="img-responsive" src="http://i.imgur.com/jnGGXaM.jpg"></img> -->
       </div>
      </div>

    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.vide.js"></script>
        <script src="js/jquery-sakura.min.js"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
                $(window).load(function() { // makes sure the whole site is loaded
                    $('#status').fadeOut(); // will first fade out the loading animation
                    $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                    $('body').delay(350).css({'overflow':'visible'});
                })
            //]]>
        </script>

        <script>
            // domReady
            $(function() {
                $('body').sakura();
            });

            // windowLoad
            $(window).load(function() {
                $('body').sakura();
            });
        </script>
    </body>
</html>
